<div *ngIf="loading">
  <img class="position-absolute top-50 start-50 translate-middle" src="assets/circle-1700.gif" alt=" jdfkjsdk"
    height="100px " width=" 100px">
</div>
<div>
  <table class="table table-light table-striped ">

    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Stock Quantity</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productsList">
        <!-- <th scope="row">1</th> -->
        <td><img [src]="product.productImageUrl" alt="" height="50" width="50"></td>
        <td>{{product.productName}}</td>
        <td>{{product.productPrice}}</td>
        <td>{{product.productInStock}}</td>
        <td><a class=" btn btn-danger btn-sm m-2" (click)="onRemove(product.id)" title="Delete"> <fa-icon
              [icon]="trashIcon"></fa-icon></a>
          <a class="btn btn-warning btn-sm  m-2" routerLink="/seller-update-product/{{product.id}}"
            title="Update"><fa-icon [icon]="updateIcon"></fa-icon></a>
        </td>
      </tr>

    </tbody>
  </table>
</div>