<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-inner">
      <div  class="carousel-item active">
        <img src="https://rukminim1.flixcart.com/fk-p-flap/2432/1081/image/b2aba5eed285bf63.jpeg?q=60" class="d-block w-100" alt="..." style="height: 300px !important;">
      </div>
      <div *ngFor="let item of imageSource"  class="carousel-item ">
        <img src="{{item}}" class="d-block w-100" alt="..." style="height: 300px !important;">
      </div>
     
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>